*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}
body{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template: 1fr 7fr / 1fr;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #EEE;
    color: #222;
}

header{
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 1.5rem;
    background-color: #EEE;
    height: 100%;
}
h1{
    margin: 0rem;
}
main{
    background-color: #CCC;
}
.new-book-button{
    text-align: center;
    margin: 30px auto;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    width: fit-content;
    cursor: pointer;
}
.new-book-button:hover{
    background-color: #999;
}

.add-book-modal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #CCC;
    border-radius: 5px;
}
input{
    height: 30px;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    font-size: 1.2rem;
}
input[type="checkbox"]{
    width: 25px;
    height: 25px;
}
input[type="number"]{
    width: 60px;
}
/*remove ticker on number input*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
h2{
    font-size: 2rem;
    text-align: center;
    padding: 5px;
    margin: 0px 10px 10px 10px;
}
label{
    display: inline-block;
    width: 100px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
div.form-container:last-of-type label{
    width: 230px;
}
div.form-container{
    padding: 5px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
button[type="submit"]{
    cursor: pointer;
    width: 120px;
    align-self: center;
    padding: 10px 12px;
    border-radius: 5px;
    border: none;
    background-color: rgba(15, 192, 15, 0.61);
    font-size: 1rem;
    transition: all 100ms ease-in-out;
}
button[type="submit"]:hover{
    box-shadow: 0px 0px 6px 1px #606060;
    transform: scale(1.1);
}
.read-button{
    cursor: pointer;
    padding: 12px 0px;
    margin: 10px 0px;
    width: 150px;
    border: none;
    border-radius: 3px;
    font-size: 1.4rem;
    align-self: center;
}
.read{
    background-color: rgba(15, 192, 15, 0.61);
}

.not-read{
    background-color: rgb(230, 90, 90);
}
.remove-book-button{
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 8px;
    border: none;
    border-radius: 3px;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(200, 0, 0);
    background-color: rgba(255, 174, 174, 0.568);
}
.remove-book-button:hover{
    background-color: rgb(230, 90, 90);
    color: white;
}
.validation-message{
    color: rgb(206, 0, 0);
    text-align: center;
    margin-bottom: 20px;
}
.book-grid{
    display: grid;
    gap: 20px;
    padding: 0px 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 450px));
    justify-content: center;
}

.book-container{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #EEE;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
}
.book-author, .book-page-number{
    text-align: center;
    margin-bottom: 10px;
}

.hidden{
    display: none;
}